/*Color palete*/
    :root {
        --main-blue: #2196F3;
        --fade-on-white: #757575;
        --fade-on-black: #ffffff99;
        --background-color: #2F303A;
        --lighter-black: #212121;
        --white: #fff;
        --black: #000;
        --kolor7: #f5f4fa;
    }

/*Heder and Footer*/    
    .logo {
        font-family: 'Raleway', sans-serif;;
        font-size: 26px;
        font-weight: 700;
        line-height: 30.52px;
    }
    .logo-white {
        color: var(--white);
    }
    .logo-black {
        color: var(--black)
    }
    .logo-blue {
        color: var(--main-blue)
    }
    .navigation-text {
        color: var(--lighter-black);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 16.41px;
    }
    .address-text-top {
        color: var(--fade-on-white);
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 16.41px;
    }
    .street-address {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 24px;
    }
    .address-text-bottom {
        color: var(--fade-on-black);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.03em;
        text-decoration: none;
        line-height: 24px;
    }
    .address-text-bottom:hover {
        color: var(--white);
    }
    .address-text-bottom:focus {
        color: var(--white);
    }

/*Body text elements*/
    .main-head-line {
        font-weight: 900;
        font-size: 44px;
        letter-spacing: 0.06em;
        line-height: 60px;
    }
    .section-headline {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 42.19px;
    }
    .text-headline {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 16.41px;
    }
    .text-content {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 24px;
    }

/*Staf*/
    .team-member {
        color: var(--lighter-black);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 18.75px;
    }
    .member-position {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 18.75px;
    }

/*Product*/
    .product-name {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.06em;
        line-height: 18px;
    }
    .product-description {
        color: var(--fade-on-white);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 16px;
    }

/*Link*/
    .link {
        text-decoration:none;
    }
    .link:hover {
        color:var(--main-blue)
    }
    .link:focus {
        color: var(--main-blue)
    }
    
/*Index Page: Order button*/
    .order-button {
        color: var(--white);
        background-color:var(--main-blue);
        border-radius: 4px;
        border: none;
        padding: 10px 41px;
        width: 200px;
        height: 50px;
    }
    .order-button-text {
        font-weight: 700;
        font-size: 16px;
    }
    .order-button:hover {
        cursor: pointer;
        color:  var(--black);
        background-color: var(--white);
        border: 3px solid var(--main-blue)
    }
    .order-button:focus {
        color: var(--black);
        background-color: var(--white);
        border: 2px solid var(--main-blue)
    }
    
/*Portfolio page: buttons*/
    .selector-button-text {
        color: var(--lighter-black);
        background-color: var(--kolor7);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 26px;
    }
    .selector-button {
        background-color: var(--kolor7);
        border-radius: 4px;
        border: none;
        padding: 6px 22px;
        cursor: pointer;
    }
    .selector-button:hover {
        background-color: var(--main-blue);
        color: var(--white);
    }
    .selector-button:focus {
        background-color: var(--main-blue);
        color: var(--white);
        cursor: pointer;
    }
    
/*Kolumns*/
    .column3 {
        columns: 3;
    }
    .column4 {
        columns: 4;
    }
    .column5 {
        columns: 5;
    }
    
/*Text modyfikation*/
    .center {
        text-align: center;
    }
    .fading-text-on-white {
        color: var(--fade-on-white);
    }
    .background {
        color: var(--white);
        background-color: var(--background-color);
    }